@charset "utf-8";

/***font***/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@500&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Schoolbell&family=Walter+Turncoat&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Hi+Melody&family=Roboto+Mono:wght@700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Hi+Melody&family=Orbitron:wght@800&family=Roboto+Mono:wght@700&display=swap'); */

body{
    height: 100vh;
    font-family: 'Noto Sans Display', sans-serif;

}

#wrapper{
    width: 100%;
    height: 100%;
    background: #333;
    perspective: 800px;
}

nav{
    width: 120px;
    height: 100%;
    background-image: url(./grid_images/door2.jpg);
    text-align: center;
    transform-origin: left center ;
    transform: rotateY(30deg); /***140deg로 변경해도 됨***/
    transition: all 1s;
    opacity: 1;
}

.menu-off{   
    transform: rotateY(90deg); /***opacity를 넣어도 됨***/
    opacity: 0;
}

nav>img{
    width: 50%;
    margin-bottom: 200px;
}
nav > ul{
    position: absolute;
    bottom: 200px;
}
nav > ul >li {
    text-indent: 5px;
    padding-top: 60px;
    line-height: 3rem;
    font-size: 1.0rem;
    color: #fff;
    text-align: left;
}
nav > ul >li:hover{
    color: rgb(238, 246, 4);
}
.menu-icon{
    position: fixed;
    top:30px;
    left: 30px;
    color: #fff;
    z-index:10;
    font-size: 1.5rem;
    opacity: 0;
    cursor: pointer;
}

.icon-on{
    opacity: 1;
}

/***main grid 3-box***/
main{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    transform-origin: right center;
    transform: rotateY(-10deg);
    z-index: 0;
}

main.mainOn{
    transform: rotateY(0);
}

/***grid 3-box***/
main>section{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    position: absolute;
    top:0;
    left:0;
    background: #444;
    opacity: 0;    
}
main>section.viewOn{
    opacity: 1;
}
main>section.viewOn>p{
    transform: rotateY(360deg);
    /* transform: rotateX(360deg); */
    /* transform: rotate(360deg); */
}




section > p{

    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    transform: rotateY(180deg);


}


section.box1>p:nth-child(1){
    grid-column: 1/3;
    background-color: #313131;
    font-size: 20px;
    

}

section.box1>p:nth-child(2){
    background-image: url(./grid_images/gardening/flower-2510254_1280.jpg);
    background-position: center;
    background-size: 110%;
    /* background-size: cover; */
    transition: 2s;
    transform: rotateZ(360deg);
}
section.box1>p:nth-child(3){
   background-color: #595959;
}
section.box1>p:nth-child(4){
    background-image: url(./grid_images/gardening/winter2.jpg);
    background-position: center;
}
section.box1>p:nth-child(5){
    background-image: url(./grid_images/gardening/blueberry2.jpg);
    background-position: center;
    
}
section.box1>p:nth-child(6){
grid-column: 3/5;
grid-row: 2/4;;
background-image: url(./grid_images/gardening/spray-7735554_1280.gif);
background-position: left ;
background-size: 145%;
}
section.box1>p:nth-child(7){
    background-image: url(./grid_images/gardening/RE15.jpg);
    background-position: right center;
    background-size: 130%;
    background-position: center ;

}
section.box1>p:nth-child(8){
    background-color: rgb(45, 42, 42);
    font-size: 35px;
    color: rgb(199, 178, 234);    
}
section.box1>p:nth-child(9){
    background-color: rgb(72, 72, 72);
}
section.box1>p:nth-child(10){
    grid-column: 2/4;
    background-image: url(./grid_images/gardening/wineman-5.jpg);
    background-position: center;
    background-size: 140% ;
}
section.box1>p:nth-child(11){
    background-image: url(./grid_images/gardening/spider-6.jpg);
    background-position: center;
}



section.box2>p:nth-child(1){
    background-color: #313131;
}
section.box2>p:nth-child(2){
    background-image: url(./grid_images/PAIRING/barista2.jpg);
    background-position: center bottom;
    background-size: 100%;
    /* background-size: cover; */
    transition: 2s;
    transform: rotateZ(360deg);
}
section.box2>p:nth-child(3){
    grid-column: 3/5;
    background-color: rgb(18, 18, 17);
    font-size: 40px;
    color: rgb(190, 150, 164);
}
section.box2>p:nth-child(4){
    grid-column: 4/5;
    grid-row: 2/4;
    background-image: url(./grid_images/PAIRING/platter-2009590_1280.jpg);
    background-position: center;
    background-size: 200%;
}
section.box2>p:nth-child(5){
    grid-row: 2/4;
    background-image: url(./grid_images/PAIRING/spices-370114_1280.jpg);
    background-position: top;
    background-size: 200%;
}
section.box2>p:nth-child(6){
grid-column: 2/4;
grid-row: 2/4;
background-image: url(./grid_images/PAIRING/aperitif-2027177_1280.jpg);
background-position: center;
background-size: 120%;
opacity: 80%;
}

section.box2>p:nth-child(7){
    background-image: url(./grid_images/PAIRING/berries-2986532_1280.jpg);
    background-position: center;
    background-size: 140%;
    opacity: 90%;
}
section.box2>p:nth-child(8){
    background-color: rgb(61, 60, 60);
}
section.box2>p:nth-child(9){
    background-image: url(./grid_images/PAIRING/japanese-clay-teapot-3161963_1280.jpg);
    background-position: left top;
    background-size: 120%;

}
section.box2>p:nth-child(10){
  background-image: url(./grid_images/PAIRING/tea-1132529_1280.jpg);
    background-position: center;
    background-size: 120%;
}






section.box3>p:nth-child(1){
    grid-column: 1/3;
    grid-row: 1/5;
    background-image: url(./grid_images/playing/R3.jpg);
    background-position: center;
    background-size: 150%;
}
section.box3>p:nth-child(2){
    background-color: rgb(61, 60, 60);
}
section.box3>p:nth-child(3){
    background-image: url(./grid_images/playing/RE8.jpg);
    background-position: center;
    background-size: 150%;
    transition: 2s;
    transform: rotateZ(360deg);
}
section.box3>p:nth-child(4){
grid-column: 3/5;
background-color: rgb(45, 42, 42);
font-size: 40px;
color: rgb(171, 197, 131);
}
section.box3>p:nth-child(5){
   grid-row: 3/5;
   background-image: url(./grid_images/playing/RE17.jpg);
    background-position: top;
    background-size: 200%;

}
section.box3>p:nth-child(6){
    background-color: rgb(72, 72, 72);
}
section.box3>p:nth-child(7){
    background-image: url(./grid_images/playing/RE9.jpg);
    background-position: center;
    background-size: 100%;

}







